# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: mitmproxy
version: "1.3.1beta"
slug: mitmproxy
description: >-
  A free and open source interactive HTTPS proxy for intercepting and inspecting network traffic.
url: "https://github.com/davet2001/home-assistant-addons/tree/main/mitmproxy"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
hassio_api: true
ingress: true
ingress_port: 8081
#webui: http://[HOST]:[PORT:8081]
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: "Proxy listening port"
options:
  anticache: true
  custom_ca: ""
schema:
  anticache: bool
  custom_ca: "match(^/ssl/.+|^$)"
#image: "ghcr.io/davet2001/{arch}-addon-mitmproxy"
